body {
	margin: 3%;
	height: 70%;
}

.entryfield, .sectionTable th  {
	text-align: center;
	width: 100%;
}

input.dsTitle {
	width: 100%;
}

table.formSection, table.sectionTable {
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
    border-spacing: 0px 1px;
}

.sectionTable th, .sectionTable td {
    font-size: 14;
    padding: 0.3em !important;
	vertical-align: middle !important;
    border: 1px solid #000;
}

.no-border {
	border: 0px solid #000 !important;
}

span {
    line-height: 1em;
    vertical-align: middle;
}

.hidden {
	display: none;
}

table.sectionTable > tbody > tr > th:not(.no-border) {
	background-color: #C8DCEB;
	-webkit-print-color-adjust: exact;
	background-image:url("img/header.png") !important;
    background-repeat:repeat;
    line-height: 1.5em;
}

#homeBtn {
	float: right;
}

#mainMenu {
	background-color: #FFF0F0;
}

.loading-icon {
	animation: spin infinite linear 2s;
	-webkit-animation: spin infinite linear 2s;
}

@keyframes spin {
	0% {
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);

	}

	100% {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);

	}
}
@-webkit-keyframes spin {
	0% {
		transform:rotate(0deg);
		-webkit-transform:rotate(0deg);

	}
	100% {
		transform:rotate(360deg);
		-webkit-transform:rotate(360deg);

	}
}

@media print {
	
	body {
		margin: 0%;
	}

	table.sectionTable > tbody > tr > th:not(.no-border) {
		background-color: #C8DCEB;
		-webkit-print-color-adjust: exact;
    	background-image:url("img/header.png") !important;
    	background-repeat:repeat;
	    line-height: 1.5em;
	}
		
	input.dsTitle {
		border: 0px;
	}
}