<html ng-app="TallySheets" update-language>

<head>
	<script src="assets/includes/lodash-4.17.15/lodash.min.js" type="text/javascript"></script>
	<script src="assets/includes/xlsx-populate-1.21.0/xlsx-populate.min.js" type="text/javascript"></script>
	<script src="assets/includes/filesaver-2.0.5/filesaver.min.js" type="text/javascript"></script>
	<script src="assets/includes/angular-1.4.0/angular.min.js" type="text/javascript"></script>
	<script src="assets/includes/angular-1.4.0/angular-route.min.js" type="text/javascript"></script>
	<script src="assets/includes/angular-1.4.0/angular-resource.min.js" type="text/javascript"></script>
	<script src="assets/includes/angular-1.4.0/angular-sanitize.min.js" type="text/javascript"></script>
	<script src="assets/includes/angular-1.4.0/angular-translate.min.js" type="text/javascript"></script>
	<script src="assets/includes/angular-1.4.0/angular-translate-loader-static-files.min.js"
		type="text/javascript"></script>
	<script src="assets/includes/jquery-2.1.4/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="assets/includes/jquery-ui-1.11.4/jquery-ui.js" type="text/javascript"></script>
	<script src="assets/includes/bootstrap-3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/includes/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
	<script src="assets/includes/js-zip-3.10.1/jszip.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="assets/includes/jquery-ui-1.11.4/jquery-ui.css">
	<link rel="stylesheet" href="assets/includes/bootstrap-3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/includes/bootstrap-select/css/bootstrap-select.min.css">
	<link rel="stylesheet" href="assets/stylesheets/app.css">
	<script type="module" src="src/webapp/app.js" type="text/javascript"></script>
	<title>HMIS Tally sheets</title>
</head>

<body ng-controller="TallySheetsController">

	<div id="mainMenu" class="panel panel-default hidden-print">
		<div class="panel-body">

			<!-- PRINT AND EXPORT -->
			<div class="row">
				<button onclick="window.print()" class="btn btn-primary hidden-print">{{ 'PRINT' | translate }}</button>
				<button id="export-button" ng-click="exportToTable('tallysheetForm')"
					class="btn btn-success hidden-print" disabled>
					{{ 'EXPORT_EXCEL' | translate}}</button>
				<button id="homeBtn" ng-click="goHome()" class="btn btn-danger hidden-print">
					<span class="glyphicon glyphicon-home"></span>
					{{ 'HOME' | translate}}
				</button>
			</div>

			<!-- INCLUDE HEADERS -->
			<div class="row include-headers">
				<label id="includeHeaders">{{ 'HEADERS' | translate }}</label>
				<input type="checkbox" ng-model="includeHeaders" aria-labelledby="includeHeaders">
			</div>

			<!-- SELECTORS -->
			<div class="row flex">



				<div>
					<form id="datasetSelectorForm" class="inline">
						<select name="dataset" class="selectpicker hidden-print" data-live-search="true" multiple>
							<option disabled value="0">{{ 'SELECT_DATASET' | translate }}</option>
							<option ng-repeat="dataset in datasets | orderBy : 'displayName'" ng-value="dataset.id">
								{{dataset.displayName}}</option>
						</select>
					</form>
				</div>

			</div>

			<!-- SELECTORS -->
			<div class="row flex">
				<dataset-selector selector-id="id" bind-to-dataset="dataset"></dataset-selector>
				<button ng-click="clearForm()" class="btn btn-default hidden-print">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</div>
		</div>
	</div>

	<!-- DATASETS VIEW -->
	<div id="tallysheetForm1">
		<div class="progress hidden-print" ng-show="progressbarDisplayed" style="width:40%;">
			<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="100"
				aria-valuemin="0" aria-valuemax="100" style="width:100%;text-align:center;">
				{{ 'IN_PROGRESS' | translate }}
			</div>
		</div>

		<div id="datasetsForms1">
			<div ng-repeat="(index,datasetWrapper) in forms">
				<form-dataset dataset="datasetWrapper.dataset" output-html="datasetWrapper.output"></form-dataset>
			</div>
		</div>
	</div>

	<!-- DATASETS VIEW -->
	<div id="tallysheetForm">
		<dataset-form selector-id="0" ng-if="!!dataset.id" dataset="dataset">
		</dataset-form>
	</div>
</body>

</html>